<div
  class="flex items-center justify-between py-4 px-20 bg-slate-800 text-white"
>
  <div class="flex flex-col items-center font-bold">
    <p>Travel With</p>
    <p>Moshiur</p>
  </div>
  <div class="flex gap-x-4 text-[12px]">
    <div>
      <p>About Me</p>
      <p>Read My Blogs</p>
      <p>Register to delever</p>
      <p>Add Your Experience</p>
    </div>
    <div>
      <p>Get Help</p>
      <p>Read FAQS</p>
      <p>View All Cities</p>
      <p>Places Near Me</p>
    </div>
    <div>
      <p>Privacy Policy</p>
      <p>Terms of Use</p>
      <p>Pricing</p>
      <p>Copyright&copy; 2022</p>
    </div>
  </div>
</div>
