<div>
  <div class="bg-white rounded-lg shadow-md py-4">
    <div class="rounded-md mx-8 w-10/12">
      <img src="{{ tour.img }}" class="object-cover rounded-md" alt="img" />
    </div>

    <div class="px-8 py-2">
      <h2 class="font-bold text-2xl pt-2">
        {{ tour.title }}
      </h2>
      <p class="text-sm">
        <span
          >Enter a world of discovery with our travel blog - THE INSIDE TRACK -
          bringing you unique experiences and inspiring tales from exotic
          destinations across the globe. From fabulous photography and reviews
          on colourful festivals, to handy guides on some of the planet's most
          exciting cities to useful travel tips on preparing for your
          once-in-a-lifetime adventure, being an armchair traveller has never
          been easier. Be warned - it's addictive! Enter a world of discovery
          with our travel blog - THE INSIDE TRACK - bringing you unique
          experiences and inspiring tales from exotic destinations across the
          globe. From fabulous photography and reviews on colourful festivals,
          to handy guides on some of the planet's most exciting cities to useful
          travel tips on preparing for your once-in-a-lifetime adventure, being
          an armchair traveller has never been easier. Be warned - it's
          addictive!</span
        >
        {{ tour.description }}
      </p>
      <div class="my-2 font-semibold text-lg">
        <h3>Budget: {{ tour.price | currency }}</h3>
      </div>
      <button
        class="bg-cyan-600 w-32 py-1 text-white mt-2 rounded-md hover:bg-cyan-500"
        (click)="addToCart()"
      >
        Book Now
        <fa-icon [icon]="icon"></fa-icon>
      </button>
    </div>
  </div>
</div>
