<div class="w-10/12 mx-auto my-8 text-center">
  <h2 class="text-3xl text-teal-600 my-8">Please Fill Up The Form</h2>
  <div>
    <form
      class="flex flex-col items-center justify-center"
      onSubmit="{handleFormSubmit}"
    >
      <input
        class="w-80 lg:w-[550px] text-lg border-black rounded-lg mb-2 p-2"
        type="text"
        name="text"
        id="1"
        value="Cash On Payment"
        readOnly
      />
      <input
        class="w-80 lg:w-[550px] text-lg border-black rounded-lg mb-2 p-2"
        type="number"
        name="text"
        id="2"
        placeholder="Mobile Number"
      />
      <input
        class="w-80 lg:w-[550px] text-lg border-black rounded-lg mb-2 p-2"
        type="text"
        name="text"
        id="2"
        placeholder="Your Address"
      />
      <input
        class="w-80 lg:w-[550px] text-lg border-black rounded-lg mb-2 p-2"
        type="text"
        name="text"
        id="3"
        placeholder="Business Name"
      />
      <input
        class="w-80 lg:w-[550px] text-lg border-black rounded-lg mb-2 p-2"
        type="text"
        name="text"
        id="4"
        placeholder="Flat,suit, or floor"
      />

      <input
        class="w-80 lg:w-[550px] h-20 text-lg border-black rounded-lg mb-2 p-2"
        type="text"
        name="text"
        id="5"
        placeholder="Add delevery instruction"
      />
      <div to="confirmed">
        <input
          class="w-72 bg-green-600 hover:bg-lime-900 py-2 text-lg rounded-lg my-2 text-white font-semibold p-2"
          type="submit"
          value="Booking Confirm"
        />
      </div>
    </form>
  </div>
</div>
